.intro {
  color: white;
  padding: 2rem;
  padding-top: 4rem;
  text-align: center;
  height: 100%;
  background-color: rgba(13, 113, 114, 0.518);
  font-family: "Cormorant Garamond", serif;
  .intro-title {
    width: 100%;
    font-size: 3rem;
  }
  .intro-action {
    margin-top: 4rem;
  }
  .intro-title-strong {
    font-weight: 400;
  }
  @media (max-width: $layout-breakpoint-small) {
  }
  /*
  @media (max-width: $layout-breakpoint-small) {
    text-align: left;
    padding: 1rem;
    padding-top: 2rem;

    background: linear-gradient(
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    .intro-title {
      color: #e6d3c7;
      font-size: 2rem;
      font-weight: 100;
    }
    .intro-action {
      text-align: center;
      margin-top: 6.5rem;
    }
  }*/
}

.intro-picture {
  height: 100%;
  min-height: 55vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;

  @media (max-width: $layout-breakpoint-small) {
    min-height: 35vh;
  }
}

.intro-text-block {
  padding-top: 20vh;
  @media (max-width: $layout-breakpoint-small) {
    padding-top: 10vh;
  }
}
