.picture-wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  //box-shadow: 10px 10px rgb(0, 0, 0, 0.3);
}

.picture-wrapper-item {
  flex: 50%;
}

.picture-wrapper-image {
  height: 100%;
  min-height: 40vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}

// .picture-wrapper-child {
//   width: 100%;
// }

@media (max-width: $layout-breakpoint-small) {
  .picture-wrapper {
    flex-direction: column;
  }
  .picture-wrapper-child {
    position: absolute;
    top: 0;

    height: "0px";
    width: "100%";
    z-index: 3;
  }
  .picture-wrapper-item {
    flex: 100%;
  }
}
